.container{
    width: 1170px;
    margin: 0 auto;
}
.article {
    margin-top:30px;
    margin-bottom: 30px;
}
table {
    border: 1px solid grey;
    width: 100%;
}
.form-item{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer {
    text-align: center;
}
